<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%- include _head  %>
</head>
<body >
	<%- include head  %>
    <div class="page_menu">
        <div class="menu">
            <img alt="1" src="http://nos.netease.com/hearthstone/1/artwork/artwork3-l.jpg"/>
            <a class="btn"  href="/pready">练习模式</a>
        </div>
        <div  class="menu">
            <img alt="1" src="http://nos.netease.com/hearthstone/1/artwork/artwork5-l.jpg"/>    
            <a class="btn" href="/fight">对战模式</a>
        </div>
        <div  class="menu">
            <img alt="1" src="http://nos.netease.com/hearthstone/1/artwork/artwork6-l.jpg"/>    
            <a class="btn">竞技模式</a>
        </div>
        <div class="smenu">
            <a >我的收藏</a>
            <a >卡包</a>
            <a >牌店</a>
        </div>
    </div>


</body>
</html>
