<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <%- include _head  %>
</head>
<body >
	<div class="page_index">
        <h6>一个卡牌爱好者独立制作的<b>炉石传说</b>山寨网页版</h6>
        <h1>山寨炉石</h1>
        <h5>也许你可以试试这里不一样的味道</h5>
        <div class="login">
            <label>邮箱：</label>
            <input class="text" id="txt_mail" />
            <label>密码：</label>
            <input id="txt_psw" class="text" type="password"/>
            <div class="btn" onclick="login()">登录</div>
            <a href="/reg">注册</a>
        </div>
    </div>

    <script type="text/javascript">
        function login() {
            var n = $("#txt_mail").val();
            var p = $("#txt_psw").val();
            if (!r.validate("邮箱", n, ["noempty"]))
                return;
            if (!r.validate("密码", p, ["noempty"]))
                return;

            r.cuser.login(n, p, function () {
                location.reload();
            });
        };
    </script>
</body>
</html>

