<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>百度</title>
	<link rel="stylesheet" href="content/css/base.css" media="all" />
</head>
<body style="height:100%; margin: 0;padding: 0;" scroll="no">
    <script src="content/script/jquery-1.9.1.js" type="text/javascript"></script>
    <script src="content/script/jquery-ui-1.10.3.js" type="text/javascript"></script>
	<script src="content/script/core.js" type="text/javascript"></script>
    <script src="content/script/ui.js" type="text/javascript"></script>
    <script src="content/script/legend.js" type="text/javascript"></script>
</body>
</html>