<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%- include _head  %>
</head>
<body >
	<%- include head  %>
    <div class="page_prompt">
        <h1>练习模式</h1>
        <a href="/" class="in">返回</a>
    </div>
    <div class="page_ready">
       <div class="card_group">
           <h1>选择套牌</h1>
           <div class="card selected" job="圣骑士"><div class="job job1"></div><span>基本套牌</span></div>
           <div class="card" job="潜行者"><div class="job job2"></div><span>基本套牌</span></div>
           <div class="card" job="萨满"><div class="job job3"></div><span>基本套牌</span></div>
           <div class="card" job="猎人"><div class="job job4"></div><span>基本套牌</span></div>
           <div class="card" job="德鲁伊"><div class="job job5"></div><span>基本套牌</span></div>
           <div class="card" job="法师"><div class="job job6"></div><span>基本套牌</span></div>
           <div class="card" job="术士"><div class="job job7"></div><span>基本套牌</span></div>
           <div class="card" job="战士"><div class="job job8"></div><span>基本套牌</span></div>
           <div class="card" job="牧师"><div class="job job9"></div><span>基本套牌</span></div>
       </div>
       <div class="enemy">
            <h1>选择对手</h1>
            <div class="enemyjob job job1 selected" job="圣骑士"></div>
           <div class="enemyjob job job2" job="潜行者"></div>
           <div class="enemyjob job job3" job="萨满"></div>
           <div class="enemyjob job job4" job="猎人"></div>
           <div class="enemyjob job job5" job="德鲁伊"></div>
           <div class="enemyjob job job6" job="法师"></div>
           <div class="enemyjob job job7" job="术士"></div>
           <div class="enemyjob job job8" job="战士"></div>
           <div class="enemyjob job job9" job="牧师"></div>
       </div>
        <div class="start">
            <% if(!battle) {%>
            <div class="btn" onclick="begin()">开始</div>
            <%}else{%>
            <a class="btn" href="/play">继续</a>
            <%}%>
        </div>
    </div>
    <script type="text/javascript">
        function begin() {
            var n1 = $(".card.selected").attr("job");
            var n2 = $(".enemyjob.selected").attr("job");

            server("legend.practice.begin", n1, n2, function (d) {
                location = "/play";
            });
        };

        $(function () {
            //server("legend.practice.checkcards", function (d) {
            //    alert('all card is ready!');
            //});
            $(".enemyjob").click(function () {
                $(".enemyjob").removeClass("selected");
                $(this).addClass("selected");
            });
            $(".card").click(function () {
                $(".card").removeClass("selected");
                $(this).addClass("selected");
            });
        });
    </script>

</body>
</html>