<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <%- include _head  %>
</head>
<body >
    100小时



版权声明

我做这件事的目的
1，展示能力
2，寻求合作机会

详细过程
1，介绍背景
2，对项目的思考
3，关键问题，解决策略的决定
4，家庭的小事

</body>
</html>